html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

.container {
  /* height: 600px; */
  /* height: 100vh; */
  /* position: relative; */
  /* margin: 10px; */
  border: 20px solid #999;
  border-radius: 8px;
}

#map {
  /* height: 100vh; */
  /* height: 500px; */
  /* height: calc(600px - 40px); */
  height: calc(100vh - 40px);
  bottom:0px;
  width: 100%;
  /* position: absolute; */
  /* right: 0px; */
}

.no-pad {
  padding: 0;
}

#listings-list a:hover {
  cursor: pointer;
  cursor: hand;
  color: #9400D3;
  text-decoration: none;
}

#hide-listings,
#show-listings {
  width: 48%;
}

#filter-div {
  text-align: center;
  height: 40px;
}

#filter-input {
  width: calc(100% - 70px);
}

#filter-label {
  display: inline;
  width: 70px;
  color: #029bc9;
  /* color: #fff; */
  /* background: #029bc9; */
}

.rsc-btn {
  width: 210px;
  font-size: 16px;
  color: #9400D3;
  background: #fff;
  border: 1px solid #999;
  border-radius: 8px;
  font-weight: 400;
  padding: 10px;
}

.rsc-btn:hover {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
  color: #fff;
  background: #9400D3;
}

#rsc-container {
  height: 320px;
  /* height: 200px; */
  width: 100%;
  /* position: absolute; */
  /* z-index: 2; */
  background: #fff;
  border: 1px solid #999;
}

#rsc-close {
  position: absolute;
  z-index: 2;
  right: 0;
  font-size: 18px;
  margin: 10px 25px 0 0;
}

#rsc-location-name {
  padding-left: 5px;
}

.rsc-body {
  /* height: calc(100% - 41.6px); */
  padding: 10px;
  background: #fff;
}

.img-button {
  font-size: 25px;
  position: relative;
  margin-left: 20px;
}

.img-button:hover {
  cursor: pointer;
  cursor: hand;
}

#display-panel {
  height: 140px;
  width: 449px;
  margin: 0 0 20px 0;
  padding: 0;
  overflow: hidden;
}

#flickr-list {
  height: 140px;
  width: 1550px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  list-style: none;
}

.flickr-img {
  width: 140px;
  margin-right: 10px;
}

/* .img-container { */
  /* display: inline-block; */
  /* height: 140px; */
  /* width: 140px; */
  /* background: #9ac16e; */
  /* margin-right: 10px; */
/* } */

.hspace-10 {
  width: 10px;
  height: 20px;
  display: inline-block;
}

.inline {
  display: inline;
}

/* #img-1 { */
/* } */

/* #img-2 { */
  /* background: #a180bc; */
/* } */

/* #img-3 { */
  /* background: #ffc3a0; */
/* } */

/* #img-4 { */
  /* background: #3ffdc6; */
/* } */

/* #img-5 { */
  /* background: #8c0008; */
/* } */

/* #img-6 { */
  /* background: #dee727; */
/* } */





.error {
  text-align: center;
}

.hidden {
  display: hidden;
}

.options-box {
  background: #fff;
  /* border: 1px solid #999; */
  /* border-radius: 3px; */
  height: 100%;
  line-height: 30px;
  padding: 10px 10px 30px 10px;
  text-align: left;
}

.pano {
  width: 200px;
  height: 200px;
}

.text {
  font-size: 12px;
}




@media screen and (max-width: 335px) {
  #display-panel {
    width: 149px;
  }
}

@media screen and (min-width: 336px) and (max-width: 490px) {
  #display-panel {
    width: 299px;
  }
}

/* @media screen and (min-width: 491px) { */
  /* #display-panel { */
    /* width: 450px; */
  /* } */
/* } */

/* @media screen and (min-width: 523px) and (max-width: 480px) { */
  /* #display-panel { */
    /* width: 320px; */
  /* } */
/* } */

/* @media screen and (min-width: 301px) and (max-width: 600px) { */
  /* body { */
    /* background-color: red; */
  /* } */
/* } */
